.gridContainer {
  background: pink !important;
}

.header {
  padding: 1.4rem 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px solid #dfe3e7;
  border-bottom: 1px solid #dfe3e7;
}

.header a {
  color: #637381;
  text-decoration: none;
  padding: 0 1.6rem;
}

// General styles

img {
  max-width: 100%;
  height: auto;
}
