{% stylesheet 'scss' %}
.wps-container {
  max-width: 100%;
}

{% endstylesheet %}

<!-- Blog-->
<section
  class="section feed container"
  id="wp-feed"
  data-url="{{ section.settings.wp_url }}"
  data-posts="{{ section.settings.number_posts }}"
  data-author=""
  data-category=""
>
  <header class="section-heading  block-heading">
    <div class="section-head">
      <div class="divider-header"></div>
      <h3 class="title text-center">{{ section.settings.title | escape }}</h3>
      <div class="divider-header"></div>
    </div>
    <div class="block-subtitle">
      <span class="subtitle rte">{{ section.settings.subtitle | escape }}</span>
    </div>
  </header>

  <!---->

  <!---->

  <div class="feed-container" id="jsonContent"></div>

  {% javascript %}
  /**
   *  Fetch Wordpress Rest API
   */
  const wps = async () => {
    // Queryselector for Data attributes
    const selector = document.querySelector("#wp-feed");
  
    // Assign attribute values
    const url = selector.getAttribute("data-url");
    const posts = `&per_page=${selector.getAttribute("data-posts")}`;
    // const category = selector.getAttribute("data-category");
    // const author = selector.getAttribute("data-author");
  
    // Make full rest Api string
    const restApi = `${url}/wp-json/wp/v2/posts?order=asc${posts}`;
  
    // Fetch
    const response = await fetch(restApi);
    const data = await response.json();
    console.log("HERE COMES DATA");
    console.log(data);
  
    document.addEventListener("shopify:section:load", function(event) {
      if (event.detail.sectionId === "product-recommendations") {
        console.log("PARTEY");
        wps();
      }
    });
  };
  wps();
  
  {% endjavascript %}
</section>

{% schema %}
{
  "name": "Wordpress",
  "class": "index-section wp-feed",
  "tag": "section",
  "presets": [
    {
      "name": "Wordpress Feed",

      "category": "Text"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "wp_url",
      "label": "Wordpress url",
      "default": "http://academy.restlessmama.com"
    },

    {
      "type": "text",
      "id": "title",
      "label": "Heading Wordpress Feed",
      "default": "i am Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle Wordpress Feed",
      "default": "i am Subtile"
    },
    {
      "type": "range",
      "id": "number_posts",
      "min": 1,
      "max": 100,
      "step": 1,
      "label": "Number of posts to display",
      "default": 4
    },
    {
      "type": "select",
      "id": "design",
      "label": "Design",
      "options": [
        {
          "value": "1",
          "label": "Design 1"
        },
        {
          "value": "2",
          "label": "Design 2"
        },
        {
          "value": "3",
          "label": "Design 3"
        }
      ]
    }
  ]
}

{% endschema %}
