{% stylesheet 'scss' %}
<!-- inject: style.scss -->
{% endstylesheet %}

<!-- Blog-->
<section
  class="section feed container"
  id="wp-feed"
  data-url="{{ section.settings.wp_url }}"
  data-posts="{{ section.settings.number_posts }}"
  data-author=""
  data-category=""
>
  <header class="section-heading  block-heading">
    <div class="section-head">
      <div class="divider-header"></div>
      <h3 class="title text-center">{{ section.settings.title | escape }}</h3>
      <div class="divider-header"></div>
    </div>
    <div class="block-subtitle">
      <span class="subtitle rte">{{ section.settings.subtitle | escape }}</span>
    </div>
  </header>

  <!---->

  <!---->

  <div class="feed-container" id="jsonContent"></div>

  {% javascript %}
  <!-- inject: functions.js -->
  {% endjavascript %}
</section>

{% schema %}
<!-- inject: schema.json -->
{% endschema %}
